<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>

  </head>
  <body>

    <%- include('../partials/nav') %>


    <div class="container mt-3">
      <div class="row">
        <div class="col-md-3">
          <%- include('../partials/categorie-menu', categories) %>

        </div>

        <div class="col-md-9">
          <h1 class="h3 mb-3"><%=title%></h1>

          <% blogs.forEach(item => { %>
            <% if (item.isAgree) { %>
              <%- include('../partials/blog-card', item) %>

            <% } %>

          <% }) %>


          <% if (blogs.filter(item => item.isVisible == true).length > 3) { %>
          <%- include('../partials/pagination') %>
          <% } %>




        </div>
      </div>
    </div>
  </body>
</html>



